[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt6 = "==6.5.0"
pyqt6-qt6 = "==6.5.0"
pyqt6-webengine = "==6.5.0"
pyqt6-webengine-qt6 = "==6.5.0"

[dev-packages]

[requires]
python_version = "3.11"
